.pageheader {
    max-width: 445px;
}

.QRrow {
    display: flex;
    gap: 30px;
}

.QRcol {
    flex: 1;
}

.QRleft {
    background: #fffefb;
    border: 1px solid #dcd5c1;
    border-radius: 14px;
    flex-direction: column;
    padding: 26px;
    display: flex;
    gap: 10px;
    width: 100%;
}
.QRleft input{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    border: 1px solid #dcd5c1;
    outline: none;
    border-radius: 5px;
    padding: 10px;
}
.generateQR {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0px 8px 0px;
    background: #d9a441;
    color: #F6F3EA;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}
.cleartext{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0px 8px 0px;
    background: #d9a441;
    color: #F6F3EA;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}