.navLinks ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinks li {
    margin: 0;
    padding: 0;
}

.navLinks a {
    color: #5B6660;
    text-decoration: none;
}

.navLinks a:hover {
    color: #D9A441;
}
.button{
    background: black;
    padding: 10px !important;
    border: none;
    border-radius: 10px;
}
.button a {
    color: white !important;
    font-weight: bold;

}