.navLinks > ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* .navLinks li {
    margin: 0;
    padding: 0;
} */

.navLinks a {
    color: #5B6660;
    text-decoration: none;
}

.navLinks a:hover {
    color: #D9A441;
}

.button {
    background: black;
    padding: 10px;
    border-radius: 10px;
}

.button a {
    color: white !important;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}

.submenu {
    display: none;
    position: absolute;
    top: 25px;
    left: -110px;
    background-color: #FFFEFB;
    width: max-content;
    border-radius: 10px;
    padding-top: 10px;
}

.dropdown:hover .submenu {
    display: flex;
}

.submenu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 10px;
    margin: 0;
    list-style: none;
}
.categorylable{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #93691F;
    margin-bottom: 8px;
}
.singlelistitem:hover{
    background-color: #EFEADB;
    border-radius: 5px;
}

.listitem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 8px;
    border-radius: 8px;
    transition: 0.2s;
    list-style: none;
}

.icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #326b5b;
    color: white;
    border-radius: 7px;
    font-size: 11px;
    font-weight: 600;
}

.toolinfo {
    display: flex;
    flex-direction: column;
    line-height: 1.15;
}

.toolinfo a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: 500;
}

.toolinfo span {
    color: #777;
    font-size: 12px;
    margin-top: 2px;
}
.devider{
    width: auto;
    height: 1px;
    background-color: grey;
}
.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}

.down,
.up {
    width: 18px;
    height: 18px;
}

.up {
    display: none;
}

.dropdown:hover .down {
    display: none;
}

.dropdown:hover .up {
    display: block;
}